#root {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff5ef;
    padding: 2rem;
    @media (min-width: 1024px) {
        padding-block: 5rem;
        padding-inline: 6rem;
    }
}

.cart-img-active {
    opacity: 1 !important;
}

